.footer{

    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px 20px;

    overflow:hidden;

    background:
    linear-gradient(
        135deg,
        #111827 0%,
        #1F2937 45%,
        #374151 100%
    );

    border-top:1px solid rgba(255,255,255,.08);

}

.footer::before{

    content:"";

    position:absolute;

    width:350px;
    height:350px;

    border-radius:50%;

    background:rgba(255,255,255,.05);

    filter:blur(120px);

    top:-180px;
    left:-180px;

}

.footer p{

    position:relative;

    color:#E5E7EB;

    font-size:15px;

    font-weight:500;

    letter-spacing:.5px;

}